<%- include('../partials/header') %>

<div class="container">
    <% if (user) { %>
        <div class="page-title-container">
            <div class="page-title-user"><strong><%= user.name.split(' ')[0] %>'s</strong></div>
            <div class="page-title">RECIPE LIST</div>
        </div>
    <% } else { %>
        <div class="page-title">RECIPE LIST</div>
    <% } %>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Total Cook Time</th>
                    <th><a href="/recipes/new"><img src="/images/chef-hat.png" alt="Add Recipe"></a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <div class="img-poster">
                        <% recipes.forEach(function(r) { %>
                            <td onclick="window.location='/recipes/<%= r._id %>';" class="clickable-row">
                                <img src="<%= r.image ? r.image : '/images/nophoto.png' %>" alt="Recipe Image" class="cropped-ofp">
                                <br>
                                <span>Posted By: <%= r.user.name %></span>
                        </div>
                        </td>
                        <td onclick="window.location='/recipes/<%= r._id %>';" class="clickable-row"><%= r.name %></td>
                        <td onclick="window.location='/recipes/<%= r._id %>';" class="clickable-row"><%= r.description %></td>
                        <% let totalCookTime = r.prepTime + r.cookTime %>
                        <td onclick="window.location='/recipes/<%= r._id %>';" class="clickable-row"><%= totalCookTime %> mins</td>
                        <td class="action-cell">
                            <% if (user?._id.equals(r.user)) { %>
                                <form action="/recipes/<%= r._id %>?_method=DELETE" method="POST" class="delete-form" onclick="event.stopPropagation();">
                                    <button type="submit" class="delete-button custom-button">
                                        <img src="/images/trash-can.png" alt="Delete Recipe">
                                    </button>
                                </form>
                                <form action="/recipes/<%= r._id %>/edit" method="GET" class="edit-form" onclick="event.stopPropagation();">
                                    <button type="submit" class="edit-button custom-button">
                                        <img src="/images/pencil-icon.png" alt="Edit Recipe">
                                    </button>
                                </form>
                            <% } %>                        
                        </td>
                    </tr>
                <% }); %>
            </tbody>
            
        </table>
    </div>
</div>

<%- include('../partials/footer') %>
