<%- include('../partials/header') %>

<section class="recipe-container">
  <div class="container">
    <h2><%= recipe.name %></h2>
    <div class="recipe-section">
      <div>
        <label>Category:</label>
        <p><%= recipe.category %></p>
      </div>
      <div>
        <label>Description:</label>
        <p><%= recipe.description %></p>
      </div>
      <div>
        <label>Ingredients:</label>
        <% const ingredients = recipe.ingredients.split(/(?=\d+)/).map(ingredient => ingredient.trim()); %>
        <ul>
          <% ingredients.forEach(ingredient => { %>
            <li><%= ingredient %></li>
          <% }); %>
        </ul>
      </div>
      <label>Directions:</label>
      <% const directions = recipe.directions.split(/\d+\.\s/).filter(Boolean).map(step => step.trim()); %>
      <ol>
        <% directions.forEach(step => { %>
          <li><%= step %></li>
        <% }); %>
      </ol>      
    </div>
    <div>
      <label>Prep Time (minutes):</label>
      <p><%= recipe.prepTime %></p>
    </div>
    <div>
      <label>Cook Time (minutes):</label>
      <p><%= recipe.cookTime %></p>
      <div>
        <h3>Reviews:</h3>
      <form id="add-review-form" method="POST" action="/recipes/<%= recipe._id %>/reviews">
        <textarea name="content" placeholder="Write your review here" rows="4" cols="50"></textarea>
      </form>
      <button form="add-review-form" type="submit">Review</button>
        <% recipe.reviews.forEach(function(rr) { %>
          <div class="review-card">
            <div class="review-user">
              <img alt="avatar" src="<%= rr.userAvatar %>" referrerpolicy="no-referrer">
              <span><%= rr.userName %></span>
            </div>
            <div class="review-content">
              <p><%= rr.content %></p>
              <% if (user?._id.equals(rr.user)) { %>
                <form action="/reviews/<%= rr._id %>?_method=DELETE" method="POST">
                  <button type="submit">Delete</button>
                </form>
              <% } %>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </section>